{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "allow": ["log", "error"]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    }
}